.wallpaperheader {
  background: url(assets/completecontactpage.jpeg);
  background-repeat: no-repeat; }

.editcontacttitle {
  color: white;
  font-size: 4rem;
  height: 70vh; }

.edittitleform {
  color: slategrey;
  margin-top: 8vh;
  font-size: 4vh; }

.formulaire {
  margin-top: 100px; }

.contact-form {
  list-style-type: none; }
  .contact-form li div {
    margin-bottom: 2.5em; }
  .contact-form input,
  .contact-form textarea,
  .contact-form select {
    width: 100%;
    margin: 0;
    padding-bottom: 1.4em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 2px solid slategrey;
    background: #FFFFFFF;
    font-family: 'Roboto', sans-serif;
    color: slategrey;
    font-weight: 500;
    font-size: 20px;
    transition: ease-in-out 1.00s; }
  .contact-form textarea {
    min-height: 50px;
    max-height: 500px;
    white-space: pre-wrap;
    word-wrap: break-word;
    resize: vertical;
    overflow: hidden; }
  .contact-form ::-webkit-input-placeholder {
    font-size: 12px;
    color: slategrey;
    text-transform: uppercase;
    font-weight: 400; }
  .contact-form label {
    font-size: 12px;
    color: slategrey;
    text-transform: uppercase;
    font-weight: 400; }
  .contact-form input:focus,
  .contact-form select:focus,
  .contact-form textarea:focus,
  .contact-form button:focus {
    outline: none;
    resize: none;
    border-bottom: 2px solid #8400ff; }
  .contact-form #slider-range-min {
    outline: 0;
    background: slategrey;
    height: 3.6em;
    border: 0;
    border-radius: 0; }
    .contact-form #slider-range-min .ui-slider-range {
      background: #8400ff;
      border-radius: 0; }
    .contact-form #slider-range-min .ui-slider-handle {
      outline: 0;
      top: 1.1em;
      margin-left: -.6em;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 0;
      background: white;
      cursor: pointer; }
  .contact-form #amount {
    border: 0;
    color: slategrey;
    font-weight: 400;
    font-size: 12px;
    padding-top: 1.1em;
    letter-spacing: 3px; }
  .contact-form button {
    border-radius: 10px;
    color: slategrey;
    background: rgba(34, 34, 34, 0);
    border: 2px solid #8400ff;
    height: 70px;
    width: 150px;
    float: right;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: ease-in-out 0.30s; }
    .contact-form button span {
      transition: ease-in-out 0.30s; }
  .contact-form button:hover {
    background: #8400ff;
    color: white; }
    .contact-form button:hover span {
      padding-left: 10px;
      color: white; }

.size-form {
  width: 350px;
  margin-left: 368px; }

@media (max-width: 1200px) {
  .size-form {
    width: 350px;
    margin-left: 46vh; }

  .wallpaperheader {
    background: url(assets/completecontactpage.jpeg);
    background-repeat: no-repeat; } }
@media (max-width: 992px) {
  .size-form {
    width: 350px;
    margin-left: 27vh; }

  .wallpaperheader {
    background: url(assets/completecontactpage.jpeg);
    background-repeat: no-repeat; } }
@media (max-width: 768px) {
  .size-form {
    width: 350px;
    margin-left: 12vh; }

  .wallpaperheader {
    background: url(assets/completecontactpage.jpeg);
    background-repeat: no-repeat; } }
.page-membre {
  height: 50vh;
  background: url(../../../gravit/bg-accueil.jpeg);
  background-position: center;
  background-size: cover; }

.title-membre {
  color: white;
  font-size: 3rem;
  font-family: 'Proza Libre' , sans-serif; }

.font-equipe {
  font-family: 'Quicksand'; }

.section-membre {
  padding: 10vh 15vw;
  background-color: #f5f5f5;
  /* flip speed goes here */
  /* hide back of pane during swap */
  /* front pane, placed above back */
  /* back, initially hidden pane */ }
  .section-membre .image--cover {
    width: 200px;
    height: 200px;
    min-height: 200px;
    min-width: 200px;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    border: 2px solid rgba(134, 134, 134, 0.507); }
  .section-membre .flip-container {
    perspective: 1000px;
    margin-bottom: 3vh; }
  .section-membre .turn {
    transform: rotateY(180deg); }
  .section-membre .tarjeta:hover {
    cursor: pointer; }
  .section-membre .manu .info-manu {
    width: 250px;
    height: 250px; }
  .section-membre .manu .front,
  .section-membre .manu .back {
    width: 250px;
    height: 250px; }
  .section-membre .flip-container,
  .section-membre .front,
  .section-membre .back {
    width: 100%;
    height: 250px; }
  .section-membre .flipper {
    transition: .8s;
    transform-style: preserve-3d;
    position: relative; }
  .section-membre .front,
  .section-membre .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0; }
  .section-membre .front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
    transition: .2s; }
    .section-membre .front:hover {
      transform: translateY(-3px);
      cursor: pointer; }
      .section-membre .front:hover p {
        color: #0073ca; }
      .section-membre .front:hover .image--cover {
        border: 2px solid #0073ca; }
    .section-membre .front p {
      transition: .8s;
      padding-top: 1.5vh; }
  .section-membre .back {
    transform: rotateY(180deg);
    background: linear-gradient(#0084b7, #001b3e);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
    border-radius: 5%;
    padding: 10px; }
    .section-membre .back .liens-reseaux {
      margin: 20px 10px;
      text-decoration: none;
      color: #fff;
      font-size: 2.5rem;
      transition: .1s; }
      .section-membre .back .liens-reseaux:hover {
        transform: scale(1.15) translateY(-3px);
        color: #16c6ff; }
    .section-membre .back .lien-portfolio {
      font-size: 1.5rem;
      color: #fff;
      transition: .5s; }
      .section-membre .back .lien-portfolio:hover {
        transform: scale(1.05) translateY(5px);
        color: #16c6ff;
        text-decoration: none; }
    .section-membre .back p {
      color: #fff;
      font-size: 1.3rem;
      margin: 0 !important; }

/*	menu */
.section-galerie {
  padding: 10vh 1rem;
  /*	gallery */ }
  .section-galerie .choice {
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: table-cell;
    position: relative;
    padding: 15px 0;
    font-size: initial;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
    cursor: pointer;
    font-family: 'Quicksand'; }
  .section-galerie .choice:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0; }
  .section-galerie .choice:hover:after {
    width: 100%;
    left: 0; }
  .section-galerie .gallery-title {
    font-size: 3rem;
    color: black;
    display: flex;
    justify-content: center;
    font-family: 'Proza Libre' , sans-serif; }
  .section-galerie .gallery_product {
    margin: 0px;
    padding: 0;
    position: relative; }
  .section-galerie .gallery_product .img-info {
    position: absolute;
    left: 50%;
    width: 100%;
    font-size: 1.8em;
    color: #00406F;
    top: 50%;
    display: none;
    -webkit-transition: 2s;
    transition: 2s;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center; }
  .section-galerie .gallery_product:hover .img-info {
    display: block;
    -webkit-transition: 2s;
    transition: 2s; }
  .section-galerie .opacity:hover {
    opacity: 0.5;
    transition: 0.2s; }

/*	end gallery */
.img_header_article {
  background: url("../../../gravit/fond_article_final.jpeg") no-repeat center;
  height: 70vh;
  background-size: cover;
  font-family: 'Proza Libre', sans-serif; }

.texte {
  color: white;
  font-size: 70px;
  text-align: center;
  font-family: 'Proza Libre', sans-serif; }

.search-container {
  width: 275px;
  display: block;
  margin: 0 auto;
  margin-top: 150px;
  margin-inline-end: 5px; }

input#search-bar {
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
  outline: none;
  top: 60vh; }
  input#search-bar:focus {
    border: 1px solid #33254A;
    transition: 0.35s ease;
    color: black; }
    input#search-bar:focus::-webkit-input-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0; }
    input#search-bar:focus::-moz-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0; }
    input#search-bar:focus:-ms-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0; }

.search-icon {
  position: relative;
  float: right;
  width: 70px;
  height: 70px;
  top: -58px;
  right: -5px; }

.navbar {
  background-color: #1b3d5f !important;
  font-family: 'Quicksand', sans-serif !important;
  display: none; }
  @media (max-width: 991px) {
    .navbar {
      display: flex; } }
  .navbar .navbar-brand img {
    height: 60px;
    transition: .82s; }
    .navbar .navbar-brand img:hover {
      transform: translateY(4px) scale(0.95) rotateZ(-20deg); }
  .navbar .nav-link {
    font-size: 2rem;
    font-weight: 400;
    transition: .2s; }
    .navbar .nav-link:hover {
      transform: translateY(-4px);
      color: #c0c0c0; }

.nav-pc {
  position: absolute;
  top: 0vh;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: 'Quicksand', sans-serif; }
  @media (max-width: 991px) {
    .nav-pc {
      display: none !important; } }
  .nav-pc a {
    color: #fff;
    text-decoration: none;
    padding: 0px 30px;
    font-size: 1.5rem;
    font-weight: 400;
    transition: .4s; }
    .nav-pc a:hover {
      transform: translateY(-4px);
      color: #c0c0c0; }
  .nav-pc img {
    height: 140px;
    transition: .2s; }
    .nav-pc img:hover {
      transform: translateY(4px) rotateZ(-15deg); }

footer {
  background-color: #1E1E1E;
  color: #fff;
  padding: 5vh 5vw !important;
  font-family: 'Quicksand', sans-serif; }
  footer .text-apropos {
    width: 70% !important; }
    @media (max-width: 575px) {
      footer .text-apropos {
        width: 100% !important; } }
  footer .lien-hover {
    color: #7b7b7b; }
    footer .lien-hover:hover {
      color: #fff;
      text-decoration: none; }
  footer .icones i {
    font-size: 3rem;
    margin: 2.5vw;
    color: #7b7b7b;
    transition: .1s; }
    @media (max-width: 575px) {
      footer .icones i {
        margin: 6.5vw; } }
    footer .icones i:hover {
      color: #fff;
      transform: scale(1.1) translateY(-3px); }

.copyright {
  background-color: #171717;
  padding: 4vh; }
  .copyright p {
    margin: 0 !important;
    color: #848484; }

.section-accueil {
  height: 100vh;
  font-family: 'Proza Libre', sans-serif; }
  .section-accueil h1 {
    font-size: 4rem;
    font-weight: 700; }
    @media (max-width: 575px) {
      .section-accueil h1 {
        font-size: 2.5rem; } }
    @media (min-width: 576px) and (max-width: 767px) {
      .section-accueil h1 {
        font-size: 3rem; } }
  .section-accueil a {
    text-decoration: none;
    color: #fff; }
  .section-accueil .video-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; }
    .section-accueil .video-container .timelapse {
      min-width: 100%;
      min-height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: auto;
      height: auto;
      z-index: -2; }

.section-presentation {
  padding: 10vh;
  margin-top: -10vh;
  z-index: 1000;
  position: relative;
  background-color: #00406f;
  color: #fff;
  box-shadow: 5px -4px 20px #0000007a;
  font-family: 'Quicksand', sans-serif; }
  .section-presentation h2 {
    letter-spacing: 10px;
    font-size: 2.3rem; }
  .section-presentation hr {
    border-top: 1px solid #fff;
    width: 20%;
    transform: rotate(90deg);
    margin-top: 7vh;
    margin-bottom: 10vh; }
  .section-presentation p {
    text-align: justify; }

.parallax {
  position: relative;
  margin-top: -10vh;
  width: 100%;
  height: 60vh;
  background: url(../../../gravit/online.jpeg);
  background-attachment: fixed; }

.section-projet {
  padding-top: 10vh; }
  .section-projet h4 {
    font-size: 4rem;
    font-weight: 700; }
  .section-projet .all-projets {
    background-color: #f5f5f5; }
    .section-projet .all-projets .projets .panel-body {
      box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.12);
      transition: .2s; }
      .section-projet .all-projets .projets .panel-body img {
        transition: .2s;
        filter: brightness(85%);
        max-width: 100%;
        height: auto; }
        .section-projet .all-projets .projets .panel-body img:hover {
          filter: none;
          transform: translateY(-1px); }
      .section-projet .all-projets .projets .panel-body a {
        text-decoration: none;
        color: lightcoral; }

.pagination {
  height: 25vh; }
  .pagination .wp-pagenavi {
    clear: both; }
  .pagination .wp-pagenavi a, .pagination .wp-pagenavi span {
    text-decoration: none;
    color: #5d5d5d;
    padding: 5px 15px;
    margin: 2px; }
  .pagination .wp-pagenavi a {
    transition: .2s; }
    .pagination .wp-pagenavi a:hover {
      color: skyblue;
      font-weight: bold; }
  .pagination .wp-pagenavi .previouspostslink, .pagination .nextpostslink {
    background-color: #d4d4d4;
    color: #5d5d5d;
    border-radius: 7%; }
  .pagination .wp-pagenavi a:hover, .pagination .wp-pagenavi span.current {
    border-color: #000; }
  .pagination .wp-pagenavi span.current {
    font-weight: bold; }

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

/*# sourceMappingURL=style.css.map */
